/* YOUR CUSTOM STYLES */
.md-form label.active {
    font-size: 0.8rem;
    -webkit-transform: translateY(-60%) !important;
    -moz-transform: translateY(-60%) !important;
    -ms-transform: translateY(-60%) !important;
    -o-transform: translateY(-60%) !important;
    transform: translateY(-60%) !important;
}
#carousel-example-3{
    clear: both;
}

.col-lg-4{
    margin-bottom: 5px !important;
}

.card > .card-block > .info >footer> ul,
.card > .card-block > .social > ul {
    display: table;
    list-style: none;
    margin: 10px 0px 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
}
.card > .card-block > .social > ul {
    margin: 0px;
}
.card > .card-block > .info > ul > li,
.card > .card-block > .social > ul > li {
    display: table-cell;
    cursor: pointer;
    color: rgb(30, 30, 30);
    font-size: 11pt;
    font-weight: 300;
    padding: 3px 0px;
}
.card > .card-block > .info > ul > li > a {
    display: block;
    width: 100%;
    color: rgb(30, 30, 30);
    text-decoration: none;
}
.card > .card-block > .social > ul > li {
    padding: 0px;
}
.card > .card-block > .social > ul > li > a {
    padding: 3px 0px;
}
.card > .card-block > .info > ul > li:hover,
.event-list > li > .social > ul > li:hover {
    color: rgb(30, 30, 30);
    /*background-color: rgb(200, 200, 200);*/
}

/*-----------*/
/*.card > .card-block > .info > ul {*/
    /*position: absolute;*/
    /*left: 0px;*/
    /*bottom: 0px;*/
/*}*/
/*.card > .card-block > .social {*/
    /*position: absolute;*/
    /*top: 0px;*/
    /*right: 0px;*/
    /*display: block;*/
    /*width: 40px;*/
/*}*/
/*.card > .card-block > .social > ul {*/
    /*border-left: 1px solid rgb(230, 230, 230);*/
/*}*/
/*.card > .card-block > .social > ul > li {*/
    /*display: block;*/
    /*padding: 0px;*/
/*}*/
/*.card > .card-block > .social > ul > li > a {*/
    /*display: block;*/
    /*width: 40px;*/
    /*padding: 10px 0px 9px;*/
/*}*/
/*!*------------------*!*/
.mycard {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background: #1C2A48;
}

/* On mouse-over, add a deeper shadow */
.mycard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.mycard img{
    border:5px solid white;
}
/* Add some padding inside the card container */
.mycontainer {
    padding: 2px 16px;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
    opacity: .9;
}

.mycard:hover .overlay {
    width: 100%;
}
.card:hover .overlay {
    width: 100%;
}

.text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.perdi{

    border-left:5px solid #DC143C !important;
}

.achei{

    border-left:5px solid #008B8B !important;
}

/*Listagens como de eventos*/

@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");
@import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");
body {
    padding: 50px 0px;
    /*background-color: rgb(220, 220, 220);*/
}

.event-list {
    list-style: none;
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
}
.event-list > li {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgb(51, 51, 51);
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
    padding: 0px;
    margin: 0px 0px 20px;
}
.event-list > li > time {
    display: inline-block;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(197, 44, 102);
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}
.event-list > li:nth-child(even) > time {
    background-color: rgb(165, 82, 167);
}
.event-list > li > time > span {
    display: none;
}
.event-list > li > time > .day {
    display: block;
    font-size: 56pt;
    font-weight: 100;
    line-height: 1;
}
.event-list > li time > .month {
    display: block;
    font-size: 24pt;
    font-weight: 900;
    line-height: 1;
}
.event-list > li > img {
    width: 100%;
}
.event-list > li > .info {
    padding-top: 5px;
    text-align: center;
}
.event-list > li > .info > .title {
    font-size: 17pt;
    font-weight: 700;
    margin: 0px;
}
.event-list > li > .info > .desc {
    font-size: 13pt;
    font-weight: 300;
    margin: 0px;
}
.event-list > li > .info > ul,
.event-list > li > .social > ul {
    display: table;
    list-style: none;
    margin: 10px 0px 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
}
.event-list > li > .social > ul {
    margin: 0px;
}
.event-list > li > .info > ul > li,
.event-list > li > .social > ul > li {
    display: table-cell;
    cursor: pointer;
    color: rgb(30, 30, 30);
    font-size: 11pt;
    font-weight: 300;
    padding: 3px 0px;
}
.event-list > li > .info > ul > li > a {
    display: block;
    width: 100%;
    color: rgb(30, 30, 30);
    text-decoration: none;
}
.event-list > li > .social > ul > li {
    padding: 0px;
}
.event-list > li > .social > ul > li > a {
    padding: 3px 0px;
}
.event-list > li > .info > ul > li:hover,
.event-list > li > .social > ul > li:hover {
    color: rgb(30, 30, 30);
    background-color: rgb(200, 200, 200);
}
.facebook a,
.twitter a,
.google-plus a {
    display: block;
    width: 100%;
    color: rgb(75, 110, 168) !important;
}
.twitter a {
    color: rgb(79, 213, 248) !important;
}
.google-plus a {
    color: rgb(221, 75, 57) !important;
}
.facebook:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(75, 110, 168) !important;
}
.twitter:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(79, 213, 248) !important;
}
.google-plus:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(221, 75, 57) !important;
}

@media (min-width: 768px) {
    .event-list > li {
        position: relative;
        display: block;
        width: 100%;
        height: 120px;
        padding: 0px;
    }
    .event-list > li > time,
    .event-list > li > img  {
        display: inline-block;
    }
    .event-list > li > time,
    .event-list > li > img {
        width: 120px;
        float: left;
    }
    .event-list > li > .info {
        background-color: rgb(245, 245, 245);
        overflow: hidden;
    }
    .event-list > li > time,
    .event-list > li > img {
        width: 120px;
        height: 120px;
        padding: 0px;
        margin: 0px;
    }
    .event-list > li > .info {
        position: relative;
        height: 120px;
        text-align: left;
        padding-right: 40px;
    }
    .event-list > li > .info > .title,
    .event-list > li > .info > .desc {
        padding: 0px 10px;
    }
    .event-list > li > .info > ul {
        position: absolute;
        left: 0px;
        bottom: 0px;
    }
    .event-list > li > .social {
        position: absolute;
        top: 0px;
        right: 0px;
        display: block;
        width: 40px;
    }
    .event-list > li > .social > ul {
        border-left: 1px solid rgb(230, 230, 230);
    }
    .event-list > li > .social > ul > li {
        display: block;
        padding: 0px;
    }
    .event-list > li > .social > ul > li > a {
        display: block;
        width: 40px;
        padding: 10px 0px 9px;
    }
}
@media (min-width: 768px) {
    /*.card > .card-block {*/
        /*position: relative;*/
        /*display: block;*/
        /*width: 100%;*/
        /*height: 120px;*/
        /*padding: 0px;*/
    /*}*/
    /*.card > .card-block > time,*/
    /*.card > li > img  {*/
        /*display: inline-block;*/
    /*}*/
    /*.card > .card-block > time,*/
    /*.card > .card-block > img {*/
        /*width: 120px;*/
        /*float: left;*/
    /*}*/
    /*.card > .card-block > .info {*/
        /*background-color: rgb(245, 245, 245);*/
        /*overflow: hidden;*/
    /*}*/
    /*.card > .card-block > time,*/
    /*.card > .card-block > img {*/
        /*width: 120px;*/
        /*height: 120px;*/
        /*padding: 0px;*/
        /*margin: 0px;*/
    /*}*/
    /*.card > .card-block > .info {*/
        /*position: relative;*/
        /*height: 120px;*/
        /*text-align: left;*/
        /*padding-right: 40px;*/
    /*}*/
    /*--------------*/
    .card > .card-block > .info > .title,
    .card > .card-block > .info > .desc {
        padding: 0px 10px;
    }

    .info > .title,
    .info > .desc {
        padding: 0px 10px;
    }
.info>footer > ul {
        position: absolute;
        left: 0px;
        bottom: 0px;
    }



    .card > .card-block > .info>footer > ul {
        position: absolute;
        left: 0px;
        bottom: 0px;
    }
    .card > .card-block > .social {
        position: absolute;
        top: 0px;
        right: 0px;
        display: block;
        width: 40px;
    }
    .card > .card-block > .social > ul {
        border-left: 1px solid rgb(230, 230, 230);
    }
    .card > .card-block > .social > ul > li {
        display: block;
        padding: 0px;
    }
    .card > .card-block > .social > ul > li > a {
        display: block;
        width: 40px;
        padding: 10px 0px 9px;
    }
}
